<%- include('partials/header'); %>
<div class="box" id="heading">
  <h1>About</h1>
</div>
<div class="box">
  <div class="item">
    <p>
      Vibhor Gautam
    </p>
  </div>
</div>
<%- include('partials/footer'); %>